* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}


.main-container {
    max-width: 1440px;
    margin: auto;
    background-color: #F5F7FA;
    font-family: "Inter", sans-serif;
}


/*            HEADER            */

.header {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 105px;
    padding-right: 120px;
}


.header li:first-child {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.header img {
    width: 155px;
    height: auto;
}

.header ul {
    display: flex;
    gap: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18191F;
}

.header div {
    display: flex;
    gap: 0;
}

.btn {
    background-color: #4CAF4F;
    border: 0;
    color: #ffffff;
}

.login-btn {
    color: #4CAF4F;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    border: 0;
    width: 77px;
    margin-right: 14px;
}

.signup-btn {
    padding: 10px 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border: 0;
    border-radius: 6px;
    width: 91px;
}






/*                    HOME                       */

.home {
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 42px;
}

.home-first-row {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}

.p2 {
    color: #4CAF4F;
}

.p3 {
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}

.register-btn {
    border-radius: 4px;
    padding: 14px 32px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}



.home-second-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 190px;
    margin-top: 40px;
}

.home-second-row ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
}

.home-second-row h2,
.home-third-row h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

.home-second-row p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #717171;
}



.home-third-row {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-item {
    width: 300px;
    height: 280px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-item:nth-child(3) h3 {
    width: 230px;
    margin: 0 auto;
}

.home-third-row h2 {
    width: 542px;
    margin-bottom: 8px;
}

.home-third-row p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.cards h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #4D4D4D;
}

.cards p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.cards img {
    height: 56px;
    width: auto;
    margin-bottom: 16px;
}







/*                      MAIN                       */


.main {
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 95px;
}

/* and third row */
.main-first-row {
    height: 433px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 49px;
}

.main-first-row h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-right: 80px;
    margin-bottom: 16px;
    color: #4D4D4D;
}

.main-first-row p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    padding-right: 60px;
    margin-bottom: 32px;
}

.main-first-row button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    padding: 14px 32px;
    letter-spacing: 0.03rem;
}



.main-second-row {
    height: 288px;
    margin: 48px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 72px;
}

.headlines3 {
    flex-basis: 50%;
}

.main-numbers {
    height: 160px;
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.main-numbers .box {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.box img {
    height: 48px;
    width: auto;
}

.little-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numbers {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #4D4D4D;
}

.letters {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
}

.headlines3 p:first-child {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

.headlines3 p:nth-child(2) {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4CAF4F;
    margin-bottom: 8px;
}

.headlines3 p:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #18191F;
}



.main-4th-row {
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
    margin: 48px auto;
}

.main-4th-row img {
    width: 326px;
    height: 326px;
    border-radius: 8px;
}

.main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    margin-bottom: 16px;
}

.main-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #4CAF4F;
    margin-bottom: 8px;
}

.main-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #89939E;
}



.main-5th-row {
    height: 506px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 95px;
}

.headlines4 {
    margin-bottom: 16px;
}

.headlines4 h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.headlines4 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #717171;
    width: 628px;
    margin: auto;
}

.main-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.main-card-item {
    position: relative;
}

.main-card-img {
    height: 286px;
}

.main-card-text {
    padding: 16px;
    width: 317px;
    margin: auto;
    background-color: #F5F7FA;
    position: absolute;
    bottom: -82px;
    left: 25px;
    border-radius: 8px;
}

.extra-padding {
    padding: 16px 20px;
}

.main-card-text p {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #717171;
}

.main-card-text button {
    color: #4CAF4F;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding: 8px;
    border: 0;
}

.main-card-text button img {
    margin-left: 8px;
}








/*                            DEMO                           */
.demo {
    text-align: center;
    padding: 32px;
}


.demo p {
    color: #263238;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
}

.demo button {
    border: 0;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #ffffff;
    padding: 14px 32px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.demo img {
    margin-left: 8px;
}







/*                              FOOTER                              */
.footer {
    background-color: #263238;
    color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 165px;
    padding-right: 165px;
    height: 328px;
}

.footer-left {
    height: 190px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    height: 30px;
    width: 191px;
}

.footer-left ul {
    display: flex;
    gap: 16px;
}

.footer-copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.footer-reserved {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}




.footer-right {
    display: flex;
    gap: 30px;
}

.footer-right h4 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
}

.footer-right ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 160px;
}

.footer-right li {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-right input {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 12px;
    border: 0;
    border-radius: 8px;
    height: 40px;
    width: 255px;
    background-color: #515b60;

}

.footer-right input::placeholder {
  color: #D9DBE1;
}












